PEC8/flows/flow1.txt
[{"id":"c51fcad5.16ffe8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"519453ea.69a3fc","type":"mqtt in","z":"c51fcad5.16ffe8","name":"conectar","topic":"homie/arduino/#","qos":"0","datatype":"auto","broker":"7b2eef96.95e81","x":100,"y":520,"wires":[["1f144922.af4b77"]]},{"id":"1f144922.af4b77","type":"switch","z":"c51fcad5.16ffe8","name":"Topic Separador","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"homie/arduino/$homie","vt":"str"},{"t":"eq","v":"homie/arduino/$name","vt":"str"},{"t":"eq","v":"homie/arduino/$nodes","vt":"str"},{"t":"eq","v":"homie/arduino/$state","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/$name","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/$properties","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/temperature/$name","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/temperature/$unit","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/temperature/$datatype","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/temperature/$settable","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/humidity/$name","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/humidity/$unit","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/humidity/$datatype","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/humidity/$settable","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/pressure/$name","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/pressure/$unit","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/pressure/$datatype","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/pressure/$settable","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/illuminance/$name","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/illuminance/$unit","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/illuminance/$datatype","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/illuminance/$settable","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/uva/$name","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/uva/$unit","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/uva/$datatype","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/uva/$settable","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/uvb/$name","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/uvb/$unit","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/uvb/$datatype","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/uvb/$settable","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/uvindex/$name","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/uvindex/$unit","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/uvindex/$datatype","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/uvindex/$settable","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/temperature","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/humidity","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/pressure","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/illuminance","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/uva","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/uvb","vt":"str"},{"t":"eq","v":"homie/arduino/mkrenv/uvindex","vt":"str"},{"t":"eq","v":"homie/arduino/relays/rele1/$name","vt":"str"},{"t":"eq","v":"homie/arduino/relays/rele1/$settable","vt":"str"},{"t":"eq","v":"homie/arduino/relays/rele1","vt":"str"},{"t":"eq","v":"homie/arduino/relays/rele2/$name","vt":"str"},{"t":"eq","v":"homie/arduino/relays/rele2/$settable","vt":"str"},{"t":"eq","v":"homie/arduino/relays/rele2","vt":"str"}],"checkall":"true","repair":true,"outputs":47,"x":360,"y":560,"wires":[["f58231c6.068aa"],["99b90ebc.e516b"],["8ec53289.6f919"],["49433836.0bb7f8"],["83f94490.de9d78"],["d01028e8.935ac8"],["1bd842d0.84b59d"],["bff98d4a.42c4d"],["c3f1b75f.48dde8"],["d909686c.a59a78"],["b57e8eef.f6f2d"],["5a48c0c3.d3f39"],["98e017da.a3f0c8"],["a33fd500.0d5f88"],["d6c19188.10abd"],["a26648a.428b9b8"],["3427b8b1.053c18"],["189b83b3.6438ac"],["c93d041.53665f8"],["cecb49b5.b75538"],["3d077ae0.b3f6a6"],["8215c2b7.ae9bd"],["f8dd0102.b6e77"],["2150f782.3eb738"],["58da2877.e111e8"],["b93aab09.406848"],["da7c44fd.05dc68"],["e73a201a.8918c"],["43361a84.619b24"],["a93466fa.637cc8"],["abd01582.2f97f8"],["7fe241d2.8b0a1"],["14dfd5e0.68723a"],["c5f237ea.874428"],["87ef3fe7.5f22a"],["b73b8b74.f848f8"],["c3a70604.3c56c8"],["7f4d800b.8bb07"],["1fc329c6.166866"],["73d1b427.4a899c"],["212e989b.573838","719a31e7.7804"],["55521879.dec928"],["3176f930.1dbb26"],["47fe9103.1fcf7"],["f3832b11.dbfac8"],["2db1981.5a7a768"],["2e36b031.75e13"]]},{"id":"a26648a.428b9b8","type":"change","z":"c51fcad5.16ffe8","name":"Store pressureUnit","rules":[{"t":"set","p":"pressureUnit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":800,"wires":[[]]},{"id":"d6c19188.10abd","type":"change","z":"c51fcad5.16ffe8","name":"Store pressureName","rules":[{"t":"set","p":"pressureName","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":760,"wires":[[]]},{"id":"a33fd500.0d5f88","type":"change","z":"c51fcad5.16ffe8","name":"Store humiditySettable","rules":[{"t":"set","p":"humiditySettable","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":720,"wires":[[]]},{"id":"98e017da.a3f0c8","type":"change","z":"c51fcad5.16ffe8","name":"Store humidityDataType","rules":[{"t":"set","p":"humidityDataType","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":680,"wires":[[]]},{"id":"5a48c0c3.d3f39","type":"change","z":"c51fcad5.16ffe8","name":"Store humidityUnit","rules":[{"t":"set","p":"humidityUnit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":640,"wires":[[]]},{"id":"b57e8eef.f6f2d","type":"change","z":"c51fcad5.16ffe8","name":"Store humidityName","rules":[{"t":"set","p":"humidityName","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":600,"wires":[[]]},{"id":"d909686c.a59a78","type":"change","z":"c51fcad5.16ffe8","name":"Store temperatureSettable","rules":[{"t":"set","p":"temperatureSettable","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":560,"wires":[[]]},{"id":"c3f1b75f.48dde8","type":"change","z":"c51fcad5.16ffe8","name":"Store temperatureDataType","rules":[{"t":"set","p":"temperatureDataType","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":520,"wires":[[]]},{"id":"bff98d4a.42c4d","type":"change","z":"c51fcad5.16ffe8","name":"Store temperatureUnit","rules":[{"t":"set","p":"temperatureUnit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":480,"wires":[[]]},{"id":"1bd842d0.84b59d","type":"change","z":"c51fcad5.16ffe8","name":"Store temperatureName","rules":[{"t":"set","p":"temperatureName","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":440,"wires":[[]]},{"id":"d01028e8.935ac8","type":"change","z":"c51fcad5.16ffe8","name":"Store mkrenvProperties","rules":[{"t":"set","p":"mkrenvProperties","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":400,"wires":[[]]},{"id":"83f94490.de9d78","type":"change","z":"c51fcad5.16ffe8","name":"Store mkrenvName","rules":[{"t":"set","p":"mkrenvName","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":360,"wires":[[]]},{"id":"49433836.0bb7f8","type":"change","z":"c51fcad5.16ffe8","name":"Store arduinoState","rules":[{"t":"set","p":"arduinoState","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":320,"wires":[[]]},{"id":"8ec53289.6f919","type":"change","z":"c51fcad5.16ffe8","name":"Store arduinoNodes","rules":[{"t":"set","p":"arduinoNodes","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":280,"wires":[[]]},{"id":"99b90ebc.e516b","type":"change","z":"c51fcad5.16ffe8","name":"Store arduinoName","rules":[{"t":"set","p":"arduinoName","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":240,"wires":[[]]},{"id":"f58231c6.068aa","type":"change","z":"c51fcad5.16ffe8","name":"Store homie","rules":[{"t":"set","p":"homie","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":200,"wires":[[]]},{"id":"3427b8b1.053c18","type":"change","z":"c51fcad5.16ffe8","name":"Store pressureDataType","rules":[{"t":"set","p":"pressureDataType","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":840,"wires":[[]]},{"id":"189b83b3.6438ac","type":"change","z":"c51fcad5.16ffe8","name":"Store pressureSettable","rules":[{"t":"set","p":"pressureSettable","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":880,"wires":[[]]},{"id":"c93d041.53665f8","type":"change","z":"c51fcad5.16ffe8","name":"Store illuminanceName","rules":[{"t":"set","p":"illuminanceName","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":920,"wires":[[]]},{"id":"cecb49b5.b75538","type":"change","z":"c51fcad5.16ffe8","name":"Store illuminanceUnit","rules":[{"t":"set","p":"illuminanceUnit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":960,"wires":[[]]},{"id":"c3a70604.3c56c8","type":"change","z":"c51fcad5.16ffe8","name":"Store pressureValue","rules":[{"t":"set","p":"pressureValue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":938,"y":800,"wires":[[]]},{"id":"b73b8b74.f848f8","type":"change","z":"c51fcad5.16ffe8","name":"Store humidityValue","rules":[{"t":"set","p":"humidityValue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":938,"y":760,"wires":[[]]},{"id":"87ef3fe7.5f22a","type":"change","z":"c51fcad5.16ffe8","name":"Store temperatureValue","rules":[{"t":"set","p":"temperatureValue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":948,"y":720,"wires":[[]]},{"id":"c5f237ea.874428","type":"change","z":"c51fcad5.16ffe8","name":"Store uvindexSettable","rules":[{"t":"set","p":"uvindexSettable","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":938,"y":680,"wires":[[]]},{"id":"14dfd5e0.68723a","type":"change","z":"c51fcad5.16ffe8","name":"Store uvindexDataType","rules":[{"t":"set","p":"uvindexDataType","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":948,"y":640,"wires":[[]]},{"id":"7fe241d2.8b0a1","type":"change","z":"c51fcad5.16ffe8","name":"Store uvindexUnit","rules":[{"t":"set","p":"uvindexUnit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":928,"y":600,"wires":[[]]},{"id":"abd01582.2f97f8","type":"change","z":"c51fcad5.16ffe8","name":"Store uvindexName","rules":[{"t":"set","p":"uvindexName","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":928,"y":560,"wires":[[]]},{"id":"a93466fa.637cc8","type":"change","z":"c51fcad5.16ffe8","name":"Store uvbSettable","rules":[{"t":"set","p":"uvbSettable","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":928,"y":520,"wires":[[]]},{"id":"43361a84.619b24","type":"change","z":"c51fcad5.16ffe8","name":"Store uvbDataType","rules":[{"t":"set","p":"uvbDataType","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":928,"y":480,"wires":[[]]},{"id":"e73a201a.8918c","type":"change","z":"c51fcad5.16ffe8","name":"Store uvbUnit","rules":[{"t":"set","p":"uvbUnit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":918,"y":440,"wires":[[]]},{"id":"da7c44fd.05dc68","type":"change","z":"c51fcad5.16ffe8","name":"Store uvbName","rules":[{"t":"set","p":"uvbName","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":918,"y":400,"wires":[[]]},{"id":"b93aab09.406848","type":"change","z":"c51fcad5.16ffe8","name":"Store uvaSettable","rules":[{"t":"set","p":"uvaSettable","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":928,"y":360,"wires":[[]]},{"id":"58da2877.e111e8","type":"change","z":"c51fcad5.16ffe8","name":"Store uvaDataType","rules":[{"t":"set","p":"uvaDataType","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":928,"y":320,"wires":[[]]},{"id":"2150f782.3eb738","type":"change","z":"c51fcad5.16ffe8","name":"Store uvaUnit","rules":[{"t":"set","p":"uvaUnit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":918,"y":280,"wires":[[]]},{"id":"f8dd0102.b6e77","type":"change","z":"c51fcad5.16ffe8","name":"Store uvaName","rules":[{"t":"set","p":"uvaName","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":918,"y":240,"wires":[[]]},{"id":"8215c2b7.ae9bd","type":"change","z":"c51fcad5.16ffe8","name":"Store illuminanceSettable","rules":[{"t":"set","p":"illuminanceSettable","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":948,"y":200,"wires":[[]]},{"id":"7f4d800b.8bb07","type":"change","z":"c51fcad5.16ffe8","name":"Store illuminanceValue","rules":[{"t":"set","p":"illuminanceValue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":938,"y":840,"wires":[[]]},{"id":"1fc329c6.166866","type":"change","z":"c51fcad5.16ffe8","name":"Store uvaValue","rules":[{"t":"set","p":"uvaValue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":918,"y":880,"wires":[[]]},{"id":"73d1b427.4a899c","type":"change","z":"c51fcad5.16ffe8","name":"Store uvbValue","rules":[{"t":"set","p":"uvbValue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":918,"y":920,"wires":[[]]},{"id":"212e989b.573838","type":"change","z":"c51fcad5.16ffe8","name":"Store uvindexValue","rules":[{"t":"set","p":"uvindexValue","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":928,"y":960,"wires":[[]]},{"id":"3d077ae0.b3f6a6","type":"change","z":"c51fcad5.16ffe8","name":"Store illuminanceDataType","rules":[{"t":"set","p":"illuminanceDataType","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1000,"wires":[[]]},{"id":"657358f3.4ff5f8","type":"http response","z":"c51fcad5.16ffe8","name":"Web","statusCode":"","headers":{"content-type":"text/html"},"x":530,"y":1420,"wires":[]},{"id":"cfa26d2f.dd23d","type":"http in","z":"c51fcad5.16ffe8","name":"Arduino","url":"/arduino","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1420,"wires":[["35b99b3f.9c3dd4"]]},{"id":"35b99b3f.9c3dd4","type":"template","z":"c51fcad5.16ffe8","name":"Template","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Arduino Front:</h1>\n        <style type=\"text/css\">\n.tg  {border-collapse:collapse;border-spacing:0;}\n.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}\n.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}\n.tg .tg-0lax{text-align:left;vertical-align:top}\n</style>\n<table class=\"tg\">\n  <tr>\n    <th class=\"tg-0lax\"><span style=\"font-weight:bold\">Homie</span></th>\n    <th class=\"tg-0lax\"><span style=\"font-weight:bold\">Device</span></th>\n    <th class=\"tg-0lax\"><span style=\"font-weight:bold\">Nodes</span></th>\n    <th class=\"tg-0lax\"><span style=\"font-weight:bold\">State</span></th>\n    <th class=\"tg-0lax\"><span style=\"font-weight:bold\">Device Name</span></th>\n    <th class=\"tg-0lax\"><span style=\"font-weight:bold\">Device Properties</span></th>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\">{{ flow.homie }}</td>\n    <td class=\"tg-0lax\">{{ flow.arduinoName }}</td>\n    <td class=\"tg-0lax\">{{ flow.arduinoNodes }}</td>\n    <td class=\"tg-0lax\">{{ flow.arduinoState }}</td>\n    <td class=\"tg-0lax\">{{ flow.mkrenvName }}</td>\n    <td class=\"tg-0lax\">{{ flow.mkrenvProperties }}</td>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\">&nbsp;&nbsp;</td>\n    <td class=\"tg-0lax\">&nbsp;&nbsp;</td>\n    <td class=\"tg-0lax\"></td>\n    <td class=\"tg-0lax\"></td>\n    <td class=\"tg-0lax\"></td>\n    <td class=\"tg-0lax\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\"><span style=\"font-weight:bold\">Sensores</span></td>\n    <td class=\"tg-0lax\"><span style=\"font-weight:bold\">Valor</span></td>\n    <td class=\"tg-0lax\"><span style=\"font-weight:bold\">Unidades</span></td>\n    <td class=\"tg-0lax\"><span style=\"font-weight:bold\">Type Data</span></td>\n    <td class=\"tg-0lax\"><span style=\"font-weight:bold\">Setteable?</span></td>\n    <td class=\"tg-0lax\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\">{{ flow.temperatureName }}<br></td>\n    <td class=\"tg-0lax\">{{ flow.temperatureValue }}</td>\n    <td class=\"tg-0lax\">{{ flow.temperatureUnit }}</td>\n    <td class=\"tg-0lax\">{{ flow.temperatureDataType }}</td>\n    <td class=\"tg-0lax\">{{ flow.temperatureSettable }}</td>\n    <td class=\"tg-0lax\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\">{{ flow.humidityName }}</td>\n    <td class=\"tg-0lax\">{{ flow.humidityValue }}</td>\n    <td class=\"tg-0lax\">{{ flow.humidityUnit }}</td>\n    <td class=\"tg-0lax\">{{ flow.humidityDataType }}</td>\n    <td class=\"tg-0lax\">{{ flow.humiditySettable }}</td>\n    <td class=\"tg-0lax\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\">{{ flow.pressureName }}</td>\n    <td class=\"tg-0lax\">{{ flow.pressureValue }}</td>\n    <td class=\"tg-0lax\">{{ flow.pressureUnit }}</td>\n    <td class=\"tg-0lax\">{{ flow.pressureDataType }}</td>\n    <td class=\"tg-0lax\">{{ flow.pressureSettable }}</td>\n    <td class=\"tg-0lax\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\">{{ flow.illuminanceName }}</td>\n    <td class=\"tg-0lax\">{{ flow.illuminanceValue }}</td>\n    <td class=\"tg-0lax\">{{ flow.illuminanceUnit }}</td>\n    <td class=\"tg-0lax\">{{ flow.illuminanceDataType }}</td>\n    <td class=\"tg-0lax\">{{ flow.illuminanceSettable }}</td>\n    <td class=\"tg-0lax\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\">{{ flow.uvaName }}</td>\n    <td class=\"tg-0lax\">{{ flow.uvaValue }}</td>\n    <td class=\"tg-0lax\">{{ flow.uvaUnit }}</td>\n    <td class=\"tg-0lax\">{{ flow.uvaDataType }}</td>\n    <td class=\"tg-0lax\">{{ flow.uvaSettable }}</td>\n    <td class=\"tg-0lax\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\">{{ flow.uvbName }}</td>\n    <td class=\"tg-0lax\">{{ flow.uvbValue }}</td>\n    <td class=\"tg-0lax\">{{ flow.uvbUnit }}</td>\n    <td class=\"tg-0lax\">{{ flow.uvbDataType }}</td>\n    <td class=\"tg-0lax\">{{ flow.uvbSettable }}</td>\n    <td class=\"tg-0lax\"></td>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\">{{ flow.uvindexName }}</td>\n    <td class=\"tg-0lax\">{{ flow.uvindexValue }}</td>\n    <td class=\"tg-0lax\">{{ flow.uvindexUnit }}</td>\n    <td class=\"tg-0lax\">{{ flow.uvindexDataType }}</td>\n    <td class=\"tg-0lax\">{{ flow.uvindexSettable }}</td>\n    <td class=\"tg-0lax\"></td>\n  </tr>\n</table>\n    </body>\n</html>","output":"str","x":360,"y":1420,"wires":[["657358f3.4ff5f8"]]},{"id":"719a31e7.7804","type":"delay","z":"c51fcad5.16ffe8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":1220,"wires":[["b6ac8679.87bd98"]]},{"id":"47fe9103.1fcf7","type":"change","z":"c51fcad5.16ffe8","name":"Store rele1State","rules":[{"t":"set","p":"rele1State","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":1100,"wires":[[]]},{"id":"2e36b031.75e13","type":"change","z":"c51fcad5.16ffe8","name":"Store rele2State","rules":[{"t":"set","p":"rele2State","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":1240,"wires":[[]]},{"id":"55521879.dec928","type":"change","z":"c51fcad5.16ffe8","name":"Store rele1Name","rules":[{"t":"set","p":"rele1Name","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1020,"wires":[[]]},{"id":"f3832b11.dbfac8","type":"change","z":"c51fcad5.16ffe8","name":"Store rele2Name","rules":[{"t":"set","p":"rele2Name","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1160,"wires":[[]]},{"id":"3176f930.1dbb26","type":"change","z":"c51fcad5.16ffe8","name":"Store rele1Settable","rules":[{"t":"set","p":"rele1Settable","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1060,"wires":[[]]},{"id":"2db1981.5a7a768","type":"change","z":"c51fcad5.16ffe8","name":"Store rele2Settable","rules":[{"t":"set","p":"rele2Settable","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1200,"wires":[[]]},{"id":"de6772c0.cda99","type":"influxdb out","z":"c51fcad5.16ffe8","influxdb":"91983844.d2be38","name":"IOT","measurement":"Mkrs","precision":"s","retentionPolicy":"","x":670,"y":1220,"wires":[]},{"id":"b6ac8679.87bd98","type":"function","z":"c51fcad5.16ffe8","name":"","func":"var info = {};\n\ninfo.homie               = flow.get(\"homie\");\ninfo.device              = flow.get(\"arduinoName\");\ninfo.nodes               = flow.get(\"arduinoNodes\");\ninfo.state               = flow.get(\"arduinoState\");\ninfo.deviceID            = flow.get(\"mkrenvName\");\ninfo.properties          = flow.get(\"mkrenvProperties\");\ninfo.tempName            = flow.get(\"temperatureName\");\ninfo.tempUnit            = flow.get(\"temperatureUnit\");\ninfo.tempValue           = flow.get(\"temperatureValue\");\ninfo.tempDataType        = flow.get(\"temperatureDataType\");\ninfo.tempSettable        = flow.get(\"temperatureSettable\");\ninfo.humidityName        = flow.get(\"humidityName\");\ninfo.humidityUnit        = flow.get(\"humidityUnit\");\ninfo.humidityValue       = flow.get(\"humidityValue\");\ninfo.humidityDataType    = flow.get(\"humidityDataType\");\ninfo.humiditySettable    = flow.get(\"humiditySettable\");\ninfo.pressureName        = flow.get(\"pressureName\");\ninfo.pressureUnit        = flow.get(\"pressureUnit\");\ninfo.pressureValue       = flow.get(\"pressureValue\");\ninfo.pressureDataType    = flow.get(\"pressureDataType\");\ninfo.pressureSettable    = flow.get(\"pressureSettable\");\ninfo.illuminanceName     = flow.get(\"illuminanceName\");\ninfo.illuminanceUnit     = flow.get(\"illuminanceUnit\");\ninfo.illuminanceValue    = flow.get(\"illuminanceValue\");\ninfo.illuminanceDataType = flow.get(\"illuminanceDataType\");\ninfo.illuminanceSettable = flow.get(\"illuminanceSettable\");\ninfo.uvaName             = flow.get(\"uvaName\");\ninfo.uvaUnit             = flow.get(\"uvaUnit\");\ninfo.uvaValue            = flow.get(\"uvaValue\");\ninfo.uvaDataType         = flow.get(\"uvaDataType\");\ninfo.uvaSettable         = flow.get(\"uvaSettable\");\ninfo.uvbName             = flow.get(\"uvbName\");\ninfo.uvbUnit             = flow.get(\"uvbUnit\");\ninfo.uvbValue            = flow.get(\"uvbValue\");\ninfo.uvbDataType         = flow.get(\"uvbDataType\");\ninfo.uvbSettable         = flow.get(\"uvbSettable\");\ninfo.uvindexName         = flow.get(\"uvindexName\");\ninfo.uvindexUnit         = flow.get(\"uvindexUnit\");\ninfo.uvindexValue        = flow.get(\"uvindexValue\");\ninfo.uvindexDataType     = flow.get(\"uvindexDataType\");\ninfo.uvindexSettable     = flow.get(\"uvindexSettable\");\ninfo.rele1Name           = global.get(\"rele1Name\");\ninfo.rele1Settable       = global.get(\"rele1Settable\");\ninfo.rele1State          = global.get(\"rele1State\");\ninfo.rele2Name           = global.get(\"rele2Name\");\ninfo.rele2Settable       = global.get(\"rele2Settable\");\ninfo.rele2State          = global.get(\"rele2State\");\n\n\nmsg.info = info;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1220,"wires":[["c32438a9.e0a0e8"]]},{"id":"c32438a9.e0a0e8","type":"change","z":"c51fcad5.16ffe8","name":"Set Topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1220,"wires":[["54749f43.2ecdd"]]},{"id":"54749f43.2ecdd","type":"change","z":"c51fcad5.16ffe8","name":"Set payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"info","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1220,"wires":[["de6772c0.cda99"]]},{"id":"7b2eef96.95e81","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","tls":"96bdcaf6.f8dbe8","clientid":"nodered","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"91983844.d2be38","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"IOT","name":"IOT","usetls":false,"tls":"96bdcaf6.f8dbe8"},{"id":"96bdcaf6.f8dbe8","type":"tls-config","z":"","name":"certificados","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.crt","servername":"G4","verifyservercert":false}]
