PEC8/flows/flow2.txt
[{"id":"e6304490.1fa368","type":"tab","label":"Reles","disabled":false,"info":""},{"id":"60607e58.a2b2d","type":"mqtt out","z":"e6304490.1fa368","name":"","topic":"homie/arduino/relays/relays/rele2/set","qos":"0","retain":"false","broker":"7b2eef96.95e81","x":970,"y":340,"wires":[]},{"id":"49fc158a.1591ec","type":"http in","z":"e6304490.1fa368","name":"","url":"/reles","method":"get","upload":false,"swaggerDoc":"","x":180,"y":200,"wires":[["b519fc05.b02cd"]]},{"id":"b519fc05.b02cd","type":"template","z":"e6304490.1fa368","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n<style type=\"text/css\">\n.tg  {border-collapse:collapse;border-spacing:0;}\n.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}\n.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}\n.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}\n.tg .tg-0lax{text-align:left;vertical-align:top}\n</style>\n<table class=\"tg\">\n  <tr>\n    <th class=\"tg-1wig\">Nombre</th>\n    <th class=\"tg-1wig\">Estado</th>\n    <th class=\"tg-1wig\">Encender</th>\n    <th class=\"tg-1wig\">Apagar</th>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\">{{ global.rele1Name }}</td>\n    <td class=\"tg-0lax\">{{ global.rele1State }}</td>\n    <td class=\"tg-0lax\">\n        <form action=\"/reles\" method=\"post\">\n            <button name=\"rele1\" value=\"1\">Encender</button>\n        </form>\n    </td>\n    <td class=\"tg-0lax\">\n        <form action=\"/reles\" method=\"post\">\n            <button name=\"rele1\" value=\"0\">Apagar</button>\n        </form>\n    </td>\n  </tr>\n  <tr>\n    <td class=\"tg-0lax\">{{ global.rele2Name }}</td>\n    <td class=\"tg-0lax\">{{ global.rele2State }}</td>\n    <td class=\"tg-0lax\">\n        <form action=\"/reles\" method=\"post\">\n            <button name=\"rele2\" value=\"1\">Encender</button>\n        </form>\n    </td>\n    <td class=\"tg-0lax\">\n        <form action=\"/reles\" method=\"post\">\n            <button name=\"rele2\" value=\"0\">Apagar</button>\n        </form>\n    </td>\n  </tr>\n</table>\n<h1>Estados Reles:</h1>\n<iframe src=\"http://10.244.167.21:3000/d-solo/sRDjEcaWk/sensores?orgId=1&refresh=5s&from=1575318652939&to=1575923452939&panelId=18\" width=\"450\" height=\"200\" frameborder=\"0\"></iframe>\n<iframe src=\"http://10.244.167.21:3000/d-solo/sRDjEcaWk/sensores?orgId=1&refresh=5s&from=1575320372446&to=1575925172446&panelId=20\" width=\"450\" height=\"200\" frameborder=\"0\"></iframe>  \n  </body>\n</html>  \n","x":410,"y":200,"wires":[["940cf8d2.3ed108"]]},{"id":"940cf8d2.3ed108","type":"http response","z":"e6304490.1fa368","name":"","statusCode":"","headers":{},"x":690,"y":200,"wires":[]},{"id":"9e7a022f.3d53f","type":"mqtt out","z":"e6304490.1fa368","name":"","topic":"homie/arduino/relays/relays/rele1/set","qos":"0","retain":"false","broker":"7b2eef96.95e81","x":970,"y":300,"wires":[]},{"id":"5b13598e.1a78a8","type":"http in","z":"e6304490.1fa368","name":"","url":"/reles","method":"post","upload":false,"swaggerDoc":"","x":190,"y":240,"wires":[["b519fc05.b02cd","8c02e68f.d75b08","a82b264c.b3c548","a0023614.ba72f8","98e38921.fc56f8"]]},{"id":"8c02e68f.d75b08","type":"switch","z":"e6304490.1fa368","name":"rele1 0","property":"payload.rele1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":280,"wires":[["43a58940.5e86c8"]]},{"id":"a82b264c.b3c548","type":"switch","z":"e6304490.1fa368","name":"rele1 1","property":"payload.rele1","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":320,"wires":[["dea2c866.55de78"]]},{"id":"a0023614.ba72f8","type":"switch","z":"e6304490.1fa368","name":"rele2 0","property":"payload.rele2","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":360,"wires":[["58fe3af6.aca3c4"]]},{"id":"98e38921.fc56f8","type":"switch","z":"e6304490.1fa368","name":"rele2 1","property":"payload.rele2","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":400,"wires":[["69d250ed.12b66"]]},{"id":"43a58940.5e86c8","type":"change","z":"e6304490.1fa368","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":280,"wires":[["9e7a022f.3d53f"]]},{"id":"dea2c866.55de78","type":"change","z":"e6304490.1fa368","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":320,"wires":[["9e7a022f.3d53f"]]},{"id":"58fe3af6.aca3c4","type":"change","z":"e6304490.1fa368","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":360,"wires":[["60607e58.a2b2d"]]},{"id":"69d250ed.12b66","type":"change","z":"e6304490.1fa368","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":400,"wires":[["60607e58.a2b2d"]]},{"id":"7b2eef96.95e81","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","tls":"96bdcaf6.f8dbe8","clientid":"nodered","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"96bdcaf6.f8dbe8","type":"tls-config","z":"","name":"certificados","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.crt","servername":"G4","verifyservercert":false}]
